{% extends "base.html" %}

{% block title %}
Driver Location
{% endblock %}

{% block content %}

<div class="card p-4 mx-auto form-card">

    <h2 class="mb-4 text-center">
        <i class="fa-solid fa-location-dot text-danger"></i>
        Driver Location
    </h2>

    <form method="POST">

        <div class="mb-3">

            <label class="form-label">Driver</label>

            <select name="driver_id" class="form-select">

                {% for driver in drivers %}

                <option value="{{ driver.id }}"
                    {% if location and location.driver.id == driver.id %}
                        selected
                    {% endif %}>

                    {{ driver.user.fullname }}

                </option>

                {% endfor %}

            </select>

        </div>

        <div class="mb-3">

            <label class="form-label">
                <i class="fa-solid fa-location-dot text-success"></i>
                Latitude
            </label>

            <input
                type="number"
                step="0.000001"
                name="latitude"
                class="form-control"
                placeholder="35.6892"
                value="{{ location.latitude if location else '' }}"
                required>

        </div>

        <div class="mb-4">

            <label class="form-label">
                <i class="fa-solid fa-location-dot text-primary"></i>
                Longitude
            </label>

            <input
                type="number"
                step="0.000001"
                name="longitude"
                class="form-control"
                placeholder="51.3890"
                value="{{ location.longitude if location else '' }}"
                required>

        </div>

        <div class="text-center">

            <button type="submit" class="btn btn-primary px-5">

                <i class="fa-solid fa-floppy-disk"></i>

                Save Location

            </button>

        </div>

    </form>

</div>

{% endblock %}