{% extends "base.html" %}

{% block title %}
Add Passenger
{% endblock %}

{% block content %}

<div class="card p-4 mx-auto form-card">

    <h2 class="mb-4 text-center">
        <i class="fa-solid fa-user-plus text-info"></i>
        Add New Passenger
    </h2>

    <form method="POST">

        <div class="mb-3">

            <label class="form-label">User</label>

            <select name="user_id" class="form-select">

                {% for user in users %}

                <option value="{{ user.id }}">
                    {{ user.fullname }} ({{ user.phone }})
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="mb-3">

            <label class="form-label">Credit</label>

            <input
                type="number"
                step="0.01"
                name="credit"
                class="form-control"
                placeholder="Enter credit"
                value="{{ passenger.credit if passenger else '' }}"
                required>

        </div>

        <div class="mb-3">

            <label class="form-label">
                <i class="fa-solid fa-location-dot text-success"></i>
                Current Latitude
            </label>

            <input
                type="number"
                step="0.000001"
                name="current_lat"
                class="form-control"
                placeholder="35.6892"
                value="{{ passenger.current_lat if passenger else '' }}"
                required>

        </div>

        <div class="mb-4">

            <label class="form-label">
                <i class="fa-solid fa-location-dot text-danger"></i>
                Current Longitude
            </label>

            <input
                type="number"
                step="0.000001"
                name="current_long"
                class="form-control"
                placeholder="51.3890"
                value="{{ passenger.current_long if passenger else '' }}"
                required>

        </div>

        <div class="text-center">

            <button type="submit" class="btn btn-primary px-5">

                <i class="fa-solid fa-floppy-disk"></i>

                Save Passenger

            </button>

        </div>

    </form>

</div>

{% endblock %}