{% extends "base.html" %}

{% block title %}
Passengers
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">

    <h2 class="mb-3 mb-md-0">
        <i class="fa-solid fa-user-group text-info"></i>
        Passengers
    </h2>

    <a href="/passengers/add" class="btn btn-success">
        <i class="fa-solid fa-user-plus"></i>
        Add Passenger
    </a>

</div>

<form method="GET"
      action="/passengers/search"
      class="row g-2 mb-4">

    <div class="col-md-10">

        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search by name or phone">

    </div>

    <div class="col-md-2 d-grid">

        <button class="btn btn-primary">

            <i class="fa-solid fa-magnifying-glass"></i>

            Search

        </button>

    </div>

</form>

<div class="table-responsive">

<table class="table table-hover align-middle">

    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Credit</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th class="text-center">Delete</th>
            <th class="text-center">Edit</th>
        </tr>

    </thead>

    <tbody>

    {% for passenger in passengers %}

        <tr>

            <td>{{ passenger.id }}</td>

            <td>{{ passenger.user.fullname }}</td>

            <td>{{ passenger.user.phone }}</td>

            <td>
                 {{ passenger.credit }}
            </td>

            <td>{{ passenger.current_lat }}</td>

            <td>{{ passenger.current_long }}</td>

            <td class="text-center">

                <a href="/passengers/delete/{{ passenger.id }}"
                   class="btn btn-danger btn-sm">

                    <i class="fa-solid fa-trash"></i>

                </a>

            </td>

            <td class="text-center">

                <a href="/passengers/edit/{{ passenger.id }}"
                   class="btn btn-warning btn-sm">

                    <i class="fa-solid fa-pen"></i>

                </a>

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

</div>

{% endblock %}