{% extends "base.html" %}

{% block title %}
Add Payment
{% endblock %}

{% block content %}

<div class="card p-4 mx-auto form-card">

    <h2 class="mb-4 text-center">
        <i class="fa-solid fa-credit-card text-info"></i>
        Add New Payment
    </h2>

    <form method="POST">

        <div class="mb-3">

            <label class="form-label">Trip</label>

            <select name="trip_id" class="form-select">

                {% for trip in trips %}

                <option value="{{ trip.id }}">
                    Trip #{{ trip.id }} | {{ trip.driver.user.fullname }} → {{ trip.passenger.user.fullname }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="mb-3">

            <label class="form-label">Amount</label>

            <input
                type="number"
                step="10000"
                name="amount"
                class="form-control"
                placeholder="Amount"
                value="{{ payment.amount if payment else '' }}"
                required>

        </div>

        <div class="mb-3">

            <label class="form-label">Payment Method</label>

            <select name="method" class="form-select">

                <option value="cash">💵 Cash</option>

                <option value="card">💳 Card</option>

                <option value="wallet">👛 Wallet</option>

            </select>

        </div>

        <div class="mb-4">

            <label class="form-label">Status</label>

            <select name="status" class="form-select">

                <option value="pending">🟡 Pending</option>

                <option value="completed">🟢 Completed</option>

                <option value="failed">🔴 Failed</option>

            </select>

        </div>

        <div class="text-center">

            <button type="submit" class="btn btn-primary px-5">

                <i class="fa-solid fa-floppy-disk"></i>

                Save Payment

            </button>

        </div>

    </form>

</div>

{% endblock %}