{% extends "base.html" %}

{% block title %}
Add Review
{% endblock %}

{% block content %}

<div class="card p-4 mx-auto" style="max-width:700px;">

    <h2 class="mb-4 text-center">
        <i class="fa-solid fa-star text-warning"></i>
        Add New Review
    </h2>

    <form method="POST">

        <div class="mb-3">
            <label class="form-label">User</label>

            <select name="user_id" class="form-select">

                {% for user in users %}

                <option value="{{ user.id }}">
                    {{ user.fullname }} ({{ user.phone }})
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="mb-3">

            <label class="form-label">Trip</label>

            <select name="trip_id" class="form-select">

                {% for trip in trips %}

                <option value="{{ trip.id }}">
                    Trip #{{ trip.id }} | Driver: {{ trip.driver.user.fullname }} | Passenger: {{ trip.passenger.user.fullname }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="mb-3">

            <label class="form-label">Rating</label>

            <input
                type="number"
                name="rating"
                min="1"
                max="5"
                class="form-control"
                value="{{ review.rating if review else '' }}"
                placeholder="1 - 5">

        </div>

        <div class="mb-4">

            <label class="form-label">Comment</label>

            <textarea
                name="comment"
                class="form-control"
                rows="4"
                placeholder="Write your review..."
                required>{{ review.comment if review else '' }}</textarea>

        </div>

        <div class="text-center">

            <button type="submit" class="btn btn-primary px-5">

                <i class="fa-solid fa-floppy-disk"></i>

                Save Review

            </button>

        </div>

    </form>

</div>

{% endblock %}